<% @title="Automated SEO reports | whatsmyranking.com"%>
<% @description="WhatsMyRanking generates reports that presents you with SEO critical information, such as your structured data, meta tags, image descriptions, etc."%>
<h1>Improve your web sites ranking on the major search engines</h1>
<h2>Fill out the form below and and generate a SEO report</h2>
<%= render 'form' %>

<h2>Usage</h2>
<p>If you have a very general page, such as a big newspaper that cover all type of stories, we suggest you simply fill the "Your page" section with the address of your website (e.g. newspaper.com)  and hit "Go!".</p>
<p>For specialized websites, such as a blog on racing bike's we suggest you also fill out the "Search keywords" section with something like "racing bikes"
<h2>What is SEO?</h2>
  SEO stands for Search Engine Optimization. The term encompasses all efforts made in order to improve a particular sites ranking with a search engine. The main types of SEO are known as "on the page" and "off the page". On the page SEO is any effort made on the content of a web page. Off the page SEO focuses on increasing the amount of links and traffic to a particular page.
<h2>What is WhatsMyRanking</h2>
  WhatsMyRanking is simply a web-crawler that presents you with SEO critical information, such as your structured data, meta tags, image descriptions, etc. A web-crawler is a program that scrapes information off of web pages
  
  
  <h3>helping the non-technically minded</h3>
    We intend to help Site owners that aren't necessarily technically minded, to see how much potential their site has on the big search engines.
  <h3>helping the technically minded</h3>
    This site can be used as a tool for web developers to quickly check SEO metrics without having to search though the entire source code of a site.

  
  <h2>Improve WhatsMyRanking</h2>
  If you are a developer and would like to contribute to this project, please feel free to contact us and check out our <%= link_to "source code repository", "https://github.com/b3dk7/WhatsMyRanking" %>
  
  <h2>Other SEO reports</h2>
  Following is a list of a few more sites that do SEO reports (unless you pay them they will limit what you do, but even the restricted "free" version might have something helpful). <%= link_to "freeseoreport", "https://www.freeseoreport.com/" %>, <%= link_to "woorank", "https://www.woorank.com" %>, <%= link_to "SEO SiteCheckup", "http://seositecheckup.com" %>.
  
  
  
  
  <h2>Acknowlegements</h2>
  Thank you Google for publishing the <%= link_to "Search Engine Optimization Starter Guide", "http://static.googleusercontent.com/media/www.google.com/en//webmasters/docs/search-engine-optimization-starter-guide.pdf" %> and thanks Search Engine Land for publishing <%= link_to "The Periodic Table Of SEO Success Factors", "http://searchengineland.com/seotable" %>