




<%  seoanal = seo_anal(@record.url, @record.keywords) %>
<% redirection = false %>


<% if seoanal.empty? %>
  <p>The URL you provided does not exist </p>
<% else %>
  
  
  
  <% if seoanal.kind_of?(Array) %>
    <% redirection = true %>
    <% seoanal = seo_anal(seoanal[0], @record.keywords) %>
  <% end %>

<h1>We have analyzed <span id="url"><%= @record.url %></span>

<% if @record.keywords.empty? %>
  </h1>
<% else %>
  based on a search for "<span id="keywords"><%= @record.keywords %></span>"</h1>
<% end %>
  


  <h2 id="report">HTML Analysis</h2>
  <h3>Title</h3>
  <span class="section">Title:</span> <%= render 'colorize', text: seoanal["title"]["content"], color: seoanal["title"]["content_color"] %> <br>
  <% if !@record.keywords.empty? %>
    <span class="section">Keyword coverage:</span> <%= render 'colorize', text: (seoanal["title"]["coverage"]["value"].to_s+"%"), color: seoanal["title"]["coverage"]["color"] %> <br>
  <% end %>
  <span class="section">Length of your title:</span> <%= render 'colorize', text: seoanal["title"]["length"], color: seoanal["title"]["length_color"] %><br>
  <span class="section">Uniqueness of your title:</span> <%= render 'colorize', text: seoanal["title"]["other"], color: seoanal["title"]["other_color"] %>

  <h3>Meta Description</h3>
  <span class="section">Meta description:</span> <%= render 'colorize', text: seoanal["meta"]["content"], color: seoanal["meta"]["content_color"] %><br>
  <% if !@record.keywords.empty? %>
    <span class="section">Keyword coverage:</span> <%= render 'colorize', text: seoanal["meta"]["coverage"]["value"].to_s+"%", color: seoanal["meta"]["coverage"]["color"]%><br>
  <% end %>
  <span class="section">Length of your meta description:</span> <%= render 'colorize', text: seoanal["meta"]["length"], color: seoanal["meta"]["length_color"]%><br>
  <span class="section">Uniqueness of meta description:</span> <%= render 'colorize', text: seoanal["meta"]["other"], color: seoanal["meta"]["other_color"] %>
  
  <h3>Headings</h3>
  <!--<span class="section">Main heading:</span> <%= render 'colorize', text: seoanal["headers"]["h1"], color: seoanal["headers"]["h1_color"] %><br> -->
  <% if seoanal["headers"]["data"].empty? %>
    <span class="section">No headings found on your page</span><br>
  <% else %>
    <table>
    <tr>
	<td><span class="table_head">Type of heading</span></td>
	<td><span class="table_head">HTML element</span></td>
	<td><span class="table_head">Value</span></td>
      </tr>
    <% seoanal["headers"]["data"].each do |i| %>
      <% html_e = i.to_s[1..2] %>
      <tr>
	<td> <%= header_translate(html_e) %> </td>
	<td> <%= html_e %> </td>
	<td> <%= i.inner_html.to_s.gsub(/<[^>]*>/, "").gsub("&amp;","&") %> </td>
      </tr>
    <% end %>
    </table><br>
  <% end %>
  <% if !@record.keywords.empty? %>
    <span class="section">Keyword coverage within headings:</span> <%= render 'colorize', text: seoanal["headers"]["coverage"]["value"].to_s+"%", color: seoanal["headers"]["coverage"]["color"]%> <br>
  <% end %>
  <span class="section">Organization of headings:</span> <%= render 'colorize', text: seoanal["headers"]["organization"], color: seoanal["headers"]["organization_color"] %>



  <!--Structured Data-->


  <h3>Structured data</h3>
  <p>Structured data helps search engines put your information into context. Currently there are four main formats: <%= link_to "JSON-LD", "http://www.w3.org/TR/json-ld/"%>, <%= link_to "Microdata", "http://www.w3.org/TR/microdata/Microdata"%>, <%= link_to "RDFa", "http://www.w3.org/TR/xhtml-rdfa-primer/RDFa"%> and <%= link_to "Microformats", "http://microformats.org/"%>. And yes, we check for all of them. Also please be advised that we only check for structured data on the page you provided. It could be that the page you provided us does not have structured data but other pages on you site do. If you think this might be the case, simply use our service to test multiple pages on your site</p>
  <span class="section">Structured data formats:</span> <%= render 'colorize', text: seoanal["structure"]["content"], color: seoanal["structure"]["color"] %><br>
  <span class="section">Structured data vocabularies:</span> <%= render 'colorize', text: sentence_style(seoanal["structure"]["vocab"]), color: seoanal["structure"]["vocab_color"] %><br>
  
  
  <table>
    <tr>
	<td><span class="table_head">Format</span></td>
	<td><span class="table_head">Property</span></td>
	<td><span class="table_head">Value</span></td>
      </tr>
    <% seoanal["structure"]["data"]["rdfa"].each do |i| %>
      <tr>
	<td>RDFa</td>
	<td> <%= i["property"] %> </td>
	<td> <%= i["value"] %> </td>
      </tr>
    <% end %>
    <% seoanal["structure"]["data"]["md"].each do |i| %>
      <tr>
	<td>Microdata</td>	
	<td> <%= i["property"] %> </td>
	<td> <%= i["value"] %> </td>
      </tr>
    <% end %>
    <% seoanal["structure"]["data"]["jld"].each do |i| %>
      <tr>
	<td>JSON-LD</td>	
	<td> <%= i["property"] %> </td>
	<td> <%= i["value"] %> </td>
      </tr>
    <% end %>
    </table><br>
  
  
  



  <!--Images-->

  <h3>Images</h3>
  Images are not necessary for a good ranking, however in case you do have images, it is important to give them appropriate file names and descriptions (via HTML "alt" attributes). <br>

  <table>
  <tr>
      <td><span class="table_head">Image Filename</span></td>
      <td><span class="table_head">Image Description</span></td>
    </tr>
  <% seoanal["images"].each do |key, value| %>
    <tr>
      <td> <%= key %> </td>
      <td> <span class="d"><%= value %><span> </td>
    </tr>
  <% end %>
  </table>





  <h2 id="report">Architecture Analysis</h2>
  <h3>URL</h3>
  <span class="section">Your URL:</span> <%= seoanal["url"]["content"] %> <br>
  <% if !@record.keywords.empty? %>
    <span class="section">Keyword coverage:</span> <%= render 'colorize', text: seoanal["url"]["coverage"]["value"], color: seoanal["url"]["coverage"]["color"] %> <br>
  <% end %>
  <span class="section">Length of your URL:</span> <%= render 'colorize', text: seoanal["url"]["length"], color: seoanal["url"]["length_color"] %><br>
  <span class="section">Domain name preservation:</span> 
  <% if redirection %>
    <span class="red">The domain you are trying to optimize (<%= @record.url %>) redirects to a completely different one, namely <%= seoanal["url"]["content"] %> - This is a SEO disaster and the first thing you should do is create a direct link by choosing the right name server and setting up your zone file properly!</span><br>
  <% else %>
    <span class="green">The domain you are trying to optimize does not redirect elsewhere, well done.</span><br>
  <% end %>
  <span class="section">URL Canonicalization: </span> <%= render 'colorize', text: seoanal["url_canon"]["content"], color: seoanal["url_canon"]["color"] %>

  <h3>Speed</h3>
  <span class="section">Page load time:</span> <%= render 'colorize', text: (seoanal["speed"]["time"].to_s+" seconds"), color: seoanal["speed"]["color"] %> - <%= seoanal["speed"]["comment"] %>
  <h3>Security</h3>
  <span class="section">Protocol:</span> <%= render 'colorize', text: seoanal["security"]["protocol"] , color: seoanal["security"]["color"] %> - <%= seoanal["security"]["comment"] %>



  <h2 id="report">Important things we can't check for you</h2>
  Securing links to your page from other established sites such as well know online magazines as well as obtaining a good reputation in social media is extremely important in SEO. For more information study the <%= link_to "Periodic table of SEO", "http://searchengineland.com/download/seotable/SearchEngineLand-Periodic-Table-of-SEO-2015.pdf" %>.

  <h2 id="report">Check how you currently rank with mayor search engines</h2>
  After improving your SEO score you should see your search engine ranking go up after a few days (search engine programs take a while until they revisit and reevaluate your site). Check out <%= link_to "SERPs Rank Checker", "https://serps.com/tools/rank_checker"%> to see exactly where you stand with Google and Yahoo in regard to your choice of keywords.
  <br>


<% end %>

<button onclick="goBack()" class="btn btn-primary btn-md changesearch">Change my search</button><br>








