<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="description" content="<%= @description %>">
    <%= favicon_link_tag '/wmr.ico' %>
    
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
	var u="//46.101.248.221/";
	_paq.push(['setTrackerUrl', u+'piwik.php']);
	_paq.push(['setSiteId', 2]);
	var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//46.101.248.221/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
    
    
    
  </head>
  <body vocab="http://purl.org/dc/terms/">
    <div class="container">


      <header>
	<nav>
	  <span property="title"><%= link_to "WhatsMyRanking", root_path, id:"logo"%></span>
	  <a class="navi" href="mailto:info@whatsmyranking.com">Contact</a>
	  <span property="source"><a class="navi" href="https://github.com/b3dk7/WhatsMyRanking">Source Code</a></span>
	</nav>

      </header>



      <%= yield %>


      <footer>
	<nav>
	  <a href="https://twitter.com/share" class="twitter-share-button"{count} data-via="benedikt_boehm" data-size="large">Tweet</a>
	  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	  
	  
	  <a href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="//www.redditstatic.com/spreddit8.gif" alt="submit to reddit" border="0" id="reddit" /> </a>
	</nav>
	
      </footer>

    </div>
  </body>
</html>
